<h2 id="title">Demo: ember-simple-auth-token</h2>

<ul>
  {{#link-to 'index' tagName='li'}}
    <a style="cursor: pointer">Protected Page</a>
  {{/link-to}}
  {{#if session.isAuthenticated}}
    <li>
      <a {{ action 'invalidateSession' }}>Logout</a>
    </li>
  {{else}}
    {{#link-to 'login' tagName='li'}}
      <a style="cursor: pointer">Login</a>
    {{/link-to}}
  {{/if}}
</ul>

{{outlet}}

<hr>

<p>Config:</p>
<pre>{{config}}</pre>

<p>Session Contents:</p>
<pre>{{sessionData}}</pre>

<p>Token Contents:</p>
<pre>{{tokenData}}</pre>
